  <h1>Dice Roll</h1>
  <div>
    <a href='/dice/2/6'>Roll 2 6-sided dice</a>
  </div>
  <div>
  <a href='/dice/2/10'>Roll 2 10-sided dice</a>
  </div>
  <div>
  <a href='/dice/1/20'>Roll 1 20-sided dice</a>
  </div>
  <div>
  <a href='/dice/5/4'>Roll 5 4-sided dice</a>
  </div>
